body{
    margin:0;
    background: rgba(0, 0, 0, 0.4);
}


main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}


#heading{
    font-family: 'Playfair Display', serif;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-left: 50px ;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: auto;
}

h1,h4{
    align-items: center;
    }

a{
    justify-content: center;
}

#img-div{
    display: block;
    padding: auto;
    max-width: 100%;
    margin: 0 auto;
    height: auto;
}